@font-face{
    font-family: 'League Gothic';
    src: url('leaguegothic-regular-webfont.woff') format('woff');
}
/*↓全体の設定*/
body{
    background-color: #28292C;
    color: #D6D7D9;
}
/*TODO bodyのクラス別での色変更*/
#position{
    width: 40%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
}
/*メインコンテンツ*/
#clock_time{
    font-family: 'League Gothic';
    font-size: 175px;
    transform: rotate(0.001deg);
}
#memoExport{
    font-size: 16px;
}
a{
    color: #97D9F7;
}
textarea{
    color: #28292C;
    background-color: #D6D7D9;
    text-align: center;
    width: 90%;
    max-width: 250px;
    resize: vertical;
}
#toggleIcon{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 0 15px;
    border-color: #d6d7d9 transparent transparent transparent;
    margin: auto;
    display: block;
    cursor: pointer;
}
/*表示非表示*/
.togglewrap #hiddenArea,
.togglewrap > input[type="checkbox"] {
    display: none;
}
.togglewrap > input[type="checkbox"]:checked ~ #hiddenArea{
    display: block;
}